// Gold bar above header
.docked header.d-header {
	border-top: 2px solid #c1a138;
}

// Hamburger and Search size and color
.d-header-icons .d-icon {
	font-size: 1.2em;
}

// Small logo size and spacing
.d-header .logo-small {
    height: 36px !important;
    margin-left: 1px;
}