#login-alert::after {
  content: '...';
  white-space: pre;
  display: block;
  margin-bottom: 10px;
  background: #e0f5ff;
  padding: 5px;
  font-weight: bold;
}

.custom-header-links .headerLink a {
    color: #ffffff !important; 
	font-family: Oswald, sans-serif;
	font-weight: 400;
	font-size: 16px !important;
	text-transform: uppercase;
}

.d-icon-search {
    height: 1.1em;
}
