.category-list .category-name {
    font-weight: bolder;
}

.d-header-icons .d-icon {
	width: 100%;
	line-height: 1.4;
	display: inline-block;
	color: var(--secondary);
}

// Adjust logo size and spacing
.d-header #site-logo {
	height: 3.2em;
}

.d-header .logo-small {
	margin-right: 20px;
}

// Adjust size of category list bullets
.badge-wrapper.bullet .badge-category-parent-bg, .badge-wrapper.bullet .badge-category-bg {
	width: 6px;
	height: 6px;
	margin-right: 4px;
	display: inline-block;
	line-height: 1;
	border-radius: 2px;
	transform: translateY(-3px);
}