/* Attempt to match wordpress */

// Vertical size
.d-header {
	height: 91px;
}

// Header element horizontal positioning
.d-header > .wrap {
	width: calc(100% - 50px);
	height: 100%;
	margin-left: 12px;
	margin-right: auto;
	max-width: unset;
}

// Small logo size and spacing
.d-header .logo-small {
    height: 49px !important;
    margin-left: 1px;
}

// Hamburger and Search size and color
.d-header-icons .d-icon {
	font-size: 1.2em;
}

// Gold bar above header
.docked header.d-header {
	border-top: 4px solid #c1a138;
}

.extra-info-wrapper .topic-link {
	color: #ccc;
	white-space: nowrap;
}

.d-header-icons .hamburger-dropdown {
    margin-right: 9px;
}

.d-header .icons .icon {
    color: #888;
    cursor: pointer;
}

.d-header-icons .icon:hover, .d-header-icons .icon:focus {
    background-color: #343434;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.d-header-icons .icon:hover .d-icon, .d-header-icons .icon:focus .d-icon {
    color: #c69e27;
}

/* End attempt */

// Increase width of lastest posts column
.latest-topic-list-item .main-link {
	max-width: 100%;
	white-space: nowrap;
}

// Adjust full screen chat appearance

.full-page-chat .chat-full-page-header {
	background: var(--primary-very-low);
	border: 0px;
	margin-right: -11px;
}

.has-full-page-chat:not(.discourse-sidebar) .full-page-chat .channels-list {
    boarder: 0px;
    margin-left: -11px;
}

.chat-full-page-header .chat-channel-title .d-icon:not(.d-icon-lock) {
	color: var(--quaternary);
}

.chat-channel-title__category-badge {
	color: var(--quaternary);
}

.fa.d-icon.d-icon-hashtag.svg-icon.svg-string {
	color: var(--quaternary);
}

.has-full-page-chat:not(.discourse-sidebar) {
	--max-chat-width: 2400px;
	--d-max-width: 2400px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
}
